# Data Science Tools and Ecosystem

## Author
Roman Bleier

This notebook is part of an assignment for the IBM DS course. In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List some commonly used libraries
- List Data Science tools in a table
- Evaluate simple arithmetic expressions with Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia
4. SQL
5. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Plotly

|Data Science Tools|
-------------------
|Jupyter Notebook|
|RStudio|
|Kaggle|
|Google CoLab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335